<h2 class="text-success">
    Payment Successful
</h2>

<p>
    Your payment has been completed successfully.
</p>

<a asp-controller="Orders"
   asp-action="MyOrders"
   class="btn btn-primary">
    View My Orders
</a>