@model ShopSphereMVC.Models.ChangePasswordViewModel

<h2>Change Password</h2>

@if(ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form method="post">

    <div class="mb-3">
        <label>Current Password</label>
        <input asp-for="CurrentPassword" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label>New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Change Password
    </button>

</form>